@import url("https://fonts.googleapis.com/css?family=Open+Sans:300");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px; }

.container {
  width: 1000px;
  display: flex; }

.header {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  top: 0px;
  height: 201px;
  width: 100%;
  color: #888;
  border-bottom: 10px solid aqua; }

.header h1.header-fullsize {
  font-family: 'Open Sans', sans-serif;
  font-size: 100px;
  line-height: 80px;
  padding-top: 15px;
  position: relative; }

.header h1.header-smallsize {
  display: none; }

.header .container {
  justify-content: space-between;
  align-items: center; }

.navigation ul {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  list-style-type: none; }
  .navigation ul li {
    padding-right: 5px;
    padding-left: 150px;
    border-right: 10px solid aqua; }
    .navigation ul li:hover {
      border-right: 10px solid #888;
      background-color: aqua;
      background-image: linear-gradient(to right, white, aqua);
      color: white;
      cursor: pointer; }

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  animation: slide-in-right 500ms ease-in-out 0s 1; }

.gallery-item {
  width: 200px;
  height: 300px;
  border-bottom: 10px solid transparent;
  filter: brightness(80%);
  transition: filter 500ms ease-in-out; }
  .gallery-item:hover {
    border-bottom: 10px solid aqua;
    filter: brightness(100%); }

.main {
  background-color: #F4F4F4;
  height: calc(100vh - 201px);
  margin-top: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start; }

.main .container {
  width: 1000px;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-start; }

.greeting {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  padding-right: 25px;
  color: #888;
  position: relative;
  animation: slide-in-left 300ms ease-in 0s 1; }

@keyframes slide-in-left {
  0% {
    left: -1500px; }
  50% {
    left: 100px; }
  100% {
    left: 0px; } }
@keyframes border-bar {
  0% {
    border-image: linear-gradient(90deg, aqua) 30; }
  85% {
    border-image: linear-gradient(90deg, aqua, #e6ffff, aqua) 30; }
  100% {
    border-image: linear-gradient(90deg, aqua) 30; } }
@media only screen and (max-width: 999px) {
  .header {
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center; }

  .header ul {
    padding-right: 20px; }

  .header h1.header-fullsize {
    display: none; }

  .header h1.header-smallsize {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 44px;
    line-height: 30px;
    padding-left: 20px; }

  .container {
    width: 100%; }

  .main {
    flex-wrap: wrap;
    flex-direction: column; }

  .greeting {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    width: 100vw;
    padding: 0px 20px; }

  .gallery {
    flex-wrap: wrap; }

  .gallery-item {
    width: 40%;
    height: auto; } }

/*# sourceMappingURL=styles.css.map */
