.main {
  background-color: #F4F4F4;
  height: calc(100vh - 201px);
  @include flex(flex-start);
  flex-direction: column;
  align-items: center; }

.main .container {
  width: 1000px;
  @include flex(flex-start,flex-start); }

.greeting {
  @include font(30px);
  margin-top: 50px;
  color: #888;
  position: relative;
  animation: slide-in-left 300ms ease-in 0s 1; }
