.gallery {
  @include flex(center,center);
  position: relative;
  animation: slide-in-right 500ms ease-in-out 0s 1; }

.gallery-item {
  width: 200px;
  height: 300px;
  border-bottom: 10px solid transparent;
  filter: brightness(80%) grayscale(90%);
  transition: filter 500ms ease-in-out;
  &:hover {
    border-bottom: 10px solid aqua;
    filter: brightness(100%) grayscale(0%) } }
