.header {
  @include flex(center);
  top: 0px;
  height: 201px;
  width: 100%;
  color: #888;
  border-bottom: 10px solid aqua; }

.header h1.header-fullsize {
  @include font(100px);
  line-height: 80px;
  padding-top: 15px;
  position: relative; }

.header h1.header-smallsize {
  display: none;
}
