@media only screen and (max-width: 999px) {
  .header {
    height: 150px;
    @include flex(space-between,center); }
  .header ul {
    padding-right: 20px; }
  .header h1.header-fullsize {
    font-size: 72px;
    line-height: 50px;
    padding-left: 20px; }
  .container {
    width: 100%;
    display: flex;
    text-wrap: wrap;
    max-width: 100%;
    flex-wrap: wrap; }
  .main {
    @include flex(flex-start,center);
    width: 100%;
    flex-wrap: wrap;
    height: 100vh; }
  .greeting {
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    @include font(24px);
    animation: none; }
  .gallery {
    @include flex(space-around,center);
    flex-wrap: wrap;
    margin: 0px 20px;
    width: 100%;
    max-width: 100%; }
  .gallery-item {
    margin-top: 50px;
    width: 240px;
    height: 130px; } }

@media only screen and (max-width: 720px) {
  .main {
    flex-wrap: nowrap;
  }
  .header h1.header-smallsize {
    @include font(36px); }
  .navigation ul li {
    padding-left: 15px; }
  .gallery {
    flex-wrap: wrap;
    margin: 0px 20px;
    width: 100%;
    max-width: 100%; }  }
